<a href="https://colab.research.google.com/github/Varun-55-gvh/ML_23AG1A66D2/blob/main/DataSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
DataSet=pd.read_csv('Name-Age-Marks-City.csv')
DataSet.head()

    Name   Age Gender  Marks      City
0  Alice  18.0      F   85.0    London
1    Bob   NaN      M   90.0  New York
2  Cathy  19.0      F   95.0       NaN
3  David  17.0      M   72.0    Sydney
4    Eva  18.0      F    NaN    London

# New Section

In [ ]:
DataSet.fillna({
    'Age':DataSet['Age'].mean(),
    'Marks':DataSet['Marks'].mean(),
    'City':'Unknown'
},inplace=True)
print(DataSet)

   Name    Age  Gender  Marks      City
0  Alice  18.0       0   85.0    London
1    Bob  18.0       1   90.0  New York
2  Cathy  19.0       0   95.0   Unknown
3  David  17.0       1   72.0    Sydney
4    Eva  18.0       0   85.5    London

In [ ]:
import pandas as pd
#Create example data including duplicates
data = {
    'Name':['Alice','Bob','Alice'],
    'Age':[18,18,18],
    'Gender':['F','M','F'],
    'Marks':[85, 90, 85]
}
df = pd.DataFrame(data)
print("original Data:")
print(df)

original Data:
    Name  Age Gender  Marks
0  Alice   18      F     85
1    Bob   18      M     90
2  Alice   18      F     85

In [ ]:
#Remove duplicates across all columns
df_no_duplicates = df.drop_duplicates()
print("\nAfter Removing Duplicates:")
print(df_no_duplicates)

After Removing Duplicates:
    Name  Age Gender  Marks
0  Alice   18      F     85
1    Bob   18      M     90

checking the datatype

In [ ]:
import pandas as pd
df = pd.DataFrame({
    'Name': ['john','Alice'],
    'Age': ['25','30'],
    'Salary': ['50000','55000']
})
print(df.dtypes)

Name      object
Age       object
Salary    object
dtype: object

convert specific columns to desired types:

In [ ]:

df['Age'] = df['Age'].astype(int)       #To  integer
df['Salary'] = df['Salary'].astype(float) #To float
print(df.dtypes)

Name       object
Age         int64
Salary    float64
dtype: object

if your data may have invalid values((numbers and words)),force conversion and set errors to "NaN"

In [ ]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
print(df.dtypes)

Name       object
Age         int64
Salary    float64
dtype: object

convert text categories into numbers for analysis

In [ ]:
DataSet['Gender']=DataSet['Gender'].map({'F':0,'M':1})
print(DataSet)

   Name    Age  Gender  Marks      City
0  Alice  18.0       0   85.0    London
1    Bob   NaN       1   90.0  New York
2  Cathy  19.0       0   95.0       NaN
3  David  17.0       1   72.0    Sydney
4    Eva  18.0       0    NaN    London

Use one hot encoding for city

In [ ]:
DataSet = pd.get_dummies(DataSet,columns=['City'])
print(DataSet)

   Name    Age  Gender  Marks  City_London  City_New York  City_Sydney  \
0  Alice  18.0       0   85.0         True          False        False
1    Bob  18.0       1   90.0        False           True        False
2  Cathy  19.0       0   95.0        False          False        False
3  David  17.0       1   72.0        False          False         True
4    Eva  18.0       0   85.5         True          False        False

   City_Unknown
0         False
1         False
2          True
3         False
4         False

feature scaling

In [4]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
DataSet['Marks'] = scaler.fit_transform(DataSet[['Marks']])
print(DataSet)

    Name   Age Gender     Marks      City
0  Alice  18.0      F  0.565217    London
1    Bob   NaN      M  0.782609  New York
2  Cathy  19.0      F  1.000000       NaN
3  David  17.0      M  0.000000    Sydney
4    Eva  18.0      F       NaN    London

In [5]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Cathy','David'],
    'Age': [18, 20, 22,19],
    'Gender': ['F', 'M', 'F','M'],
    'Marks': [85, 90, 78,88]
}
df=pd.DataFrame(data)
print(df)

    Name  Age Gender  Marks
0  Alice   18      F     85
1    Bob   20      M     90
2  Cathy   22      F     78
3  David   19      M     88

New feature: grade (based on marks)

In [11]:
def grade(marks):
    if marks >= 85:
        return 'A'
    elif marks >= 70:
        return 'B'
    else:
        return 'C'

df['Grade'] = df['Marks'].apply(grade)
print(df)

    Name  Age Gender  Marks Grade
0  Alice   18      F     85     A
1    Bob   20      M     90     A
2  Cathy   22      F     78     B
3  David   19      M     88     A

New feature: Age Group (from Age)

In [12]:
bins = [0, 18, 21, 100]
labels = ['Teen', 'Young Adult', 'Adult']
df['Age Group'] = pd.cut(df['Age'], bins=bins, labels=labels)
print(df)

    Name  Age Gender  Marks Grade    Age Group
0  Alice   18      F     85     A         Teen
1    Bob   20      M     90     A  Young Adult
2  Cathy   22      F     78     B        Adult
3  David   19      M     88     A  Young Adult

Removing outliers

In [16]:
DataSet=pd.read_csv('Name-Age-Marks-City.csv')
DataSet = DataSet[(DataSet['Marks'] >= 60) & (DataSet['Marks'] <= 100)]
print(DataSet)

    Name   Age Gender  Marks      City
0  Alice  18.0      F   85.0    London
1    Bob   NaN      M   90.0  New York
2  Cathy  19.0      F   95.0       NaN
3  David  17.0      M   72.0    Sydney

Splitting Data for Training and Testing

In [20]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size=0.2)
print("Train Data:\n", train)
print("Test Data:\n", test)

Train Data:
     Name  Age Gender  Marks Grade    Age Group
3  David   19      M     88     A  Young Adult
1    Bob   20      M     90     A  Young Adult
0  Alice   18      F     85     A         Teen
Test Data:
     Name  Age Gender  Marks Grade Age Group
2  Cathy   22      F     78     B     Adult