<a href="https://colab.research.google.com/github/Varun-55-gvh/ML_23AG1A66D2/blob/main/DataSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
DataSet=pd.read_csv('Name-Age-Marks-City.csv')
DataSet.head()

   Name    Age Gender  Marks      City
0  Alice  18.0      F   85.0    London
1    Bob   NaN      M   90.0  New York
2  Cathy  19.0      F   95.0       NaN
3  David  17.0      M   72.0    Sydney
4    Eva  18.0      F    NaN    London

In [47]:
DataSet.fillna({
    'Age':DataSet['Age'].mean(),
    'Marks':DataSet['Marks'].mean(),
    'City':'Unknown'
},inplace=True)
print(DataSet)

   Name    Age Gender  Marks      City
0  Alice  18.0      F   85.0    London
1    Bob  18.0      M   90.0  New York
2  Cathy  19.0      F   95.0   Unknown
3  David  17.0      M   72.0    Sydney
4    Eva  18.0      F   85.5    London

In [48]:
import pandas as pd
#Create example data including duplicates
data = {
    'Name':['Alice','Bob','Alice'],
    'Age':[18,18,18],
    'Gender':['F','M','F'],
    'Marks':[85, 90, 85]
}
df = pd.DataFrame(data)
print("original Data:")
print(df)

original Data:
    Name  Age Gender  Marks
0  Alice   18      F     85
1    Bob   18      M     90
2  Alice   18      F     85

In [49]:
#Remove duplicates across all columns
df_no_duplicates = df.drop_duplicates()
print("\nAfter Removing Duplicates:")
print(df_no_duplicates)

After Removing Duplicates:
    Name  Age Gender  Marks
0  Alice   18      F     85
1    Bob   18      M     90